name: "Chromatic"

on: push

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: yarn

      - name: Buld Storybook
        run: yarn build-storybook

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: 5752cb17824a
